html *
{
   font-family: 'Montserrat' !important;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0!important;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: white;
	height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}

	.row.content {
		height:auto;
	} 
}

path {
	stroke-width: 3!important;
	fill: none;
}

.line {
	stroke: #91bfdb;
}

.axis line,
.axis path {
    stroke: rgb(193, 193, 193);
    stroke-width: 1.2;
}

.bar {
    fill: rgb(153,112,171);
}

.bar:hover {
    fill: rgb(194,165,207);
}

.gemeente {
	stroke-width:2;
}

#svgContainer {
    text-align: center;
    font-size: 20px;
}

.slidecontainer {
    padding-top: 200px;
    width: 200px;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.7;
    transform: rotate(-90deg);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(66, 146, 198);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(66, 146, 198);
    cursor: pointer;
}

#slideroutput {
    position: absolute;
    margin-left:20px;
    margin-top:-20px;
}

#mapbar { 
    padding: 35px;
    background-color: rgb(222,235,247); 
}

#combi {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgb(247,251,255);
}

.tooltips {
    position: absolute;
    font-size: 16px;
    width: auto;
    height: auto;
    pointer-events: none;
    text-align: right;
}

.info {
    position: absolute;
    font-size: 12px;
    width: 500px;
    height: auto;
    padding: 10px;
    pointer-events: none;
    text-align: left;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.85;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(193, 193, 193, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(193, 193, 193, 0.4);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

/*#svgscatter,
#containerbar {
    margin-left: 50px;
}*/


.annotation-note-title{
    
    color:black;
}

.annotation path {
    stroke: rgb(193, 193, 193);
}

.annotation text {
    font-size: 70%;
    fill: rgb(0, 0, 0)!important;
}

#explain {
    margin-left: 30px;
    text-align: left;
    font-size: 12px;

}

.no-margin {
    margin-left: 15px;
    padding-left: 0px!important;
}


